@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    display: flex;
    justify-content: center;
    align-items: center;
}
body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    width: 1880px;
    height: auto;
    background-color: #1e1e1e;
}
main {
    width: 430px;
    height: auto;
    background-color: white;
}
header {
    width: 430px;
    height: 505px;
    background-image: url('img/Header-celular.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagem {
    width: 379px;
    height: 252px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#imagem-1 {
    background-image: url('img/Section-Image-1.png');
}
#imagem-2 {
    background-image: url('img/Section-Image-2.png');
}
#imagem-3 {
    background-image: url('img/Section-Image-3.png');
}
#imagem-4 {
    background-image: url('img/Section-Image-4.png');
}
h2 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32.68px;
    
}
p {
    width: 378px;
    height: 88px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    margin-bottom: 0;
}
#titulo-1 {
    width: 370px;
    height: 99px;
}
#titulo-2 {
    width: 379px;
    height: 33px;
}
#titulo-3 {
    width: 373px;
    height: 33px;
}
#titulo-4 {
    width: 376px;
    height: 64px;
}

#paragrafo-4 {
    width: 378px;
    height: 110px;
}
#icone-discord {
    width: 162px;
    height: 45px;
}
section {
    width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}
.card-de-texto {
    display: flex;
    flex-direction: column;
    gap: 27PX;
}
#sesao-1 {
    height: 573px;
}
#sesao-2 {
    height: 507px;
    background-color: #f6f6f6;
}
#sesao-3 {
    height: 507px;
}
#sesao-4 {
    height: 560px;
    background-color: #f6f6f6;
}
footer {
    width: 430px;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #23272a
}
